/* src/App.css */
body {
  font-family: 'Roboto', sans-serif;
  background-color: #ffeb3b;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

h1 {
  text-align: center;
  color: #333;
  margin-bottom: 20px;
}

.pokemon-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.pokemon-card {
  background-color: #fff; 
  border: 1px solid #ddd; 
  border-radius: 10px;
  margin: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
  overflow: hidden; 
  transition: transform 0.2s ease-in-out; 
  display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.pokemon-card:hover {
  transform: scale(1.05);
}


.pokemon-card img {
  max-width: 200px;
  height: auto;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.card-body {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card-title {
  font-size: 1.5em;
  color: #333;
  margin-bottom: 10px;
}

.card-text {
  color: #555;
  margin-bottom: 10px;
}

.list-unstyled {
  padding: 0;
  list-style: none;
  margin: 0;
}
.list-unstyled li {
  margin-bottom: 5px;
  color: #777;
}


.card-body {
  padding: 20px;
}

/* See more*/

.see-more-btn{
  padding: 0.5rem;
  background-color: ;
  border-radius: 5px;
  border: 0;
}
.see-more-btn:hover{
  background-color: darkgrey;
  cursor: pointer;
}

/*PokemonDetails Modal*/

.modal-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3); /* Optional: Add a semi-transparent overlay */
}

.modal-card{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  max-width: 80%;
  max-height: 80%;
  background-color: #fff;
  border-radius: 10px;

}

.image-toggle-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.close-btn {
  width: 30px;
  height: 30px;
  background-color: #FAFAFA;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #555;
  font-size: 14px;
  border: none;
}
.close-btn:hover{
  background-color: #ebebeb;
}

.image-switcher-container {
  max-width: 100%;
}

.image-toggle-container {
  position: relative;
}

.modal-img {
  width: 100%;
  height: auto;
  max-height: 350px;
}


/* Searchbar */

.search-bar input{
  border: none;
  border-radius: 5px;
  padding: 8px;
}

.list-container{
  background: #fff;
  border-radius: 5px;
  width: 15vw;

}

.list-container div:hover{
  cursor: pointer;
  background-color: #ebebeb;
}




