/* src/App.css */

body {
  background-color: #ffeb3b; /* Aesthetic yellow background for the whole page */
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh; /* Ensure the page takes at least the full height of the viewport */
}

h1 {
  text-align: center;
  color: #333;
  margin-bottom: 20px;
}

.pokemon-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.pokemon-card {
  background-color: #fff; /* White background for each card */
  border: 1px solid #ddd; /* Light gray border */
  border-radius: 10px;
  margin: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle box shadow */
  overflow: hidden; /* Hide any overflowing content */
  transition: transform 0.2s ease-in-out; /* Add a smooth transition effect */
}

.pokemon-card:hover {
  transform: scale(1.05); /* Scale up the card on hover for a slight zoom effect */
}

.pokemon-card img {
  max-width: 100%;
  height: auto;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.card-body {
  padding: 20px;
}

.card-title {
  font-size: 1.5em;
  color: #333;
  margin-bottom: 10px;
}

.card-text {
  color: #555;
  margin-bottom: 10px;
}

.list-unstyled {
  padding: 0;
  list-style: none;
  margin: 0;
}

.list-unstyled li {
  margin-bottom: 5px;
  color: #777;
}

.pokemon-card {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 10px;
  margin: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.2s ease-in-out;
  max-width: 200px; /* Set a maximum width for the card */
  width: 100%; /* Ensure the card takes the full width within its container */
}

.pokemon-card:hover {
  transform: scale(1.05);
}

.card-body {
  padding: 20px;
}

.card-title {
  font-size: 1.5em;
  color: #333;
  margin-bottom: 10px;
}

.card-text {
  color: #555;
  margin-bottom: 10px;
}

.list-unstyled {
  padding: 0;
  list-style: none;
  margin: 0;
}

.list-unstyled li {
  margin-bottom: 5px;
  color: #777;
}

body {
  font-family: 'Roboto', sans-serif; /* Apply the chosen font to the entire body */
  background-color: #ffeb3b;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

/*PokemonDetails Modal*/


.modal-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vh;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.3); /* Optional: Add a semi-transparent overlay */
}